@font-face {
    font-family: Merriweather;
    src: url('/fonts/Merriweather-Bold.ttf');
}
@font-face {
    font-family: 'Open-Sans';
    src: url('/fonts/OpenSans-Regular.ttf'), format('ttf');
    font-display: swap; 
}
@font-face {
    font-family: Inter;
    src: url('/fonts/Inter_24pt-Regular.ttf');
}